# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
/staticfiles/

# Virtual environment
venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Pytest
.cache/

# Misc
*.bak
*.swp 